/*university block under faculty and country*/
#block-views-06a387a28a1c512cdb0b3132e665a873,
#block-views-591260b53c2ca9904d1696149d896875 {
  margin-bottom: 20px;
}

/* country name and profile title margin left */
.country_name,
.profile_title {
  margin-left: 5px;
}

/*exchange contact line gap and university node*/
.node-uw-exchange-contact .node-inner .content_node .field-items {
  padding-bottom: 5px !important;
}

.node-uw-exchange-university .node-inner .content_node .field-items {
  padding-bottom: 1px !important;
}

.node-uw-exchange-contact .node-inner .content_node .field-items {
  padding-bottom: 0px !important;
}

.node-uw-exchange-contact .node-inner .field-name-field-exchange-contact-mail {
  padding-bottom: 10px;
}

/* display country as two columns*/
.view-exchange-university-by-country-block .views-row-odd,
.view-exchange-university-by-country-block .views-row-even {
  width: 50%;
  float: left;
  position: relative;
}

/* display profile as two columns for landing page */
.view-exchange-profile-block .views-row-odd,
.view-exchange-profile-block.views-row-even {
  width: 50%;
  float: left;
}
/* display profile as two columns for faculty and country term pages */
.view-exchange-profile-faculty-and-country .views-row-odd,
.view-exchange-profile-faculty-and-country .views-row-even {
  width: 50%;
  float: left;
}

/* country list padding bottom */
#block-views-b27ea45be8bde615097343da94008a03 {
  position: relative;
  padding-bottom: 70%
}
/* display image left for student profile */
.profile-image img {
  float: left !important;
  padding: 0 10px 10px 0;
}

/* hide nodeblock title */
.block-nodeblock h2 {
  /*display:none !important;*/
}

/* faculty list and student profile blocks padding bottom */
#block-views-c7849856aa3b0ea17bb3d428a4511cad,
#block-views-8be19762ee5c262d206dc2d347f82231,
#block-views-d00ee36aa491d907bcd15cb7dc56e5b5 {
  padding-bottom: 30px;
}

/* block-nodeblock padding bottom */
.block-nodeblock {
  padding-bottom: 20px;
}

/*university list under faculty page*/
.view-exchange-university-by-faculty-page {
  padding-bottom: 30px;
}
/*reduce the gap between country and university title from 0.8em to 5px*/
.view-exchange-university-faculty-and-country-block .view-content h3,
.view-exchange-university-by-faculty-page .view-content h3 {
  margin-bottom: 5px !important;
}
/*all faculty more space between two countries*/
.view-exchange-university-faculty-and-country-block .view-content .views-row-last,
.view-exchange-university-by-faculty-page .view-content .views-row-last {
  padding-bottom: 20px;
}
/*student profile image*/
.view-exchange-student-profile-page .view-content .views-row .views-field .field-content img {
  float: left;
  padding-bottom: 10px;
}

.view-exchange-student-profile-page .view-content .views-row .views-field .field-content a {
  padding-left: 15px;
}

.view-exchange-student-profile-page .view-content .views-row .views-field .field-content p {
  padding-left: 135px;
}


#block-system-main .view-exchange-by-country-page .view-content h3 {
  font-weight: normal;
  color: #000000;
  font-family: verdana,geneva,sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

/*hide contact information entity reference h2 link*/
.node-uw-exchange-contact .node-inner h2 a {
  pointer-events: none !important;
  cursor: default !important;
}
/*change contact information title h2 fond and underline*/
.node-uw-exchange-contact .node-inner h2 {
  border-bottom: 0px;
  color: none;
  font-size: 1.0em;
  margin-bottom: 0.3em;
  padding-bottom: 0px;
}
/*change contact information h2 font color to black*/
.node-uw-exchange-contact .node-inner h2 a:link {
  color: #000000 !important;
}

/*change contact information h2 font color to black*/
.node-uw-exchange-contact .node-inner h2 a:active {
  color: #000000 !important;
}

/*change contact information h2 font color to black*/
.node-uw-exchange-contact .node-inner h2 a:visited {
  color: #000000 !important;
}

/*change contact information h2 font color to black*/
.node-uw-exchange-contact .node-inner h2 a:hover {
  color: #000000 !important;
}
.node-uw-exchange-contact .node-inner {
  margin-bottom: 0.8em;
}

.node-uw-exchange-student .content_node .field-name-field-exchange-overview-title .field-items .field-item {
  color: #111111;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.8em;
  padding-bottom: 1px;
  line-height: 1.2em;
  border-bottom: 1px solid #fecb00;
}

.field-name-field-exchange-uni-country,
.field-name-field-exchange-uni-program,
.field-name-field-exchange-uni-faculty,
.field-name-field-exchange-uni-tuition,
.field-name-field-exchange-uni-duration,
.field-name-field-exchange-uni-level {
  padding-bottom: 11px;
}
